
.title {
    display: grid;
    margin: 2rem auto;
    padding: 11px;
    max-width: 1000px;

}
nav {
    display: grid;
    margin: 2rem auto 2rem auto;
    width: 1000px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  
}

img {
    display: grid;
    margin: 2rem auto 2rem auto;
    width: auto;
    height: auto;
    max-width: 800px;
    
}

h1 {
    font-size: 100px;
    line-height: 1;
}
