@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/*
Color Palette 
https://coolors.co/000000-d3d3d3-2b4162-ffffff-ff7f50
*/
:root {
  --color1-black: #000000;
  --color2-lightGray: #d3d3d3;
  --color3-darkBlue: #2b4162;
  --color4-white: #ffffff;
  --color5-orange: #ff7f50;
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: 1.618;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  margin-top: 1em;
}

h1,
h2,
h3,
p {
  padding-left: 12px;
  padding-bottom: 16px;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 800px;
}

body {
  text-align: center;
}

header {
  background: var(--color3-darkBlue);
  color: var(--color4-white);
  padding: 4em 0;
  height: 200px;
  border-radius: 10px;
  text-align: center;
}

header h1 {
  margin-top: -25px;
  font-size: 3em;
}

header span {
  font-size: 1em;
}

main {
  font-size: 15px;
  line-height: 1.5;
}

.main-image-container img {
  margin: 2% auto;
  width: auto;
  height: auto;
  max-width: 600px;
  border-radius: 15px;
}

.profile-summary-container {
  background: var(--color2-lightGray);
  /* margin: auto; */
}

.my-story-container {
  background-color: var(--color2-lightGray);
}

.websites-wrapper {
  background: var(--color2-lightGray);
  max-width: 80%;
  margin: auto;
}
.skills-wrapper {
  background: var(--color2-lightGray);
  margin: auto;
}

.all-projects {
  background: var(--color2-lightGray);
  display: flex;
  flex-direction: column;
}

.all-projects .projects {
  /* border-style: solid; */
}

.all-projects .projects img {
  margin: 1em 0;
  width: auto;
  height: auto;
  max-width: 700px;
  border-style: solid;
  border-color: var(--color1-black);
  border-radius: 15px;
}

.contact-info-container {
  background-color: var(--color2-lightGray);
  margin: auto;
  margin-bottom: 25px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
}

.icons-container img {
  width: 110px;
  height: auto;
}

section {
  margin: 1em 0;
  padding-top: 5em;
  min-height: 10em;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;
  border-style: solid;
}

section > p {
  margin: 1em 0;
}

footer {
}
