@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/*
Color Palette 
https://coolors.co/2b4162-385f71-f5f0f6-d7b377-8f754f
#2B4162 dark blue
#385F71 medium blue
#F5F0F6 white
#D7B377 tan 
#8F754F brown
*/

* {
  font-family: "Open Sans", sans-serif;
}

header {
  background: #2b4162;
  color: #ffffff;
}

.websites, .skills {
    background: #D7B377 ;
}

.hobbies {
    background: #385F71 ;
}

.all-projects {
    background: #8F754F;
}

footer {
    background: #8F754F ;
}
