@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*
Color Palette 
https://coolors.co/4c5454-ff715b-ffffff-1ea896-523f38
#4C5454 grey 
#FF715B orange
#FFFFFF white
#1EA896 green
#523F38 brown
*/

* {
    font-family: 'Open Sans', sans-serif;   
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


header {
    background: #523F38;
    color: #ffffff;
}

