@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/*
Color Palette 
https://coolors.co/000000-d3d3d3-2b4162-ffffff-ff7f50
*/
:root {
  --color1-black: #000000;
  --color2-lightGray: #d3d3d3;
  --color3-darkBlue: #2b4162;
  --color4-white: #ffffff;
  --color5-orange: #ff7f50;
}

* {
  font-family: "Open Sans", sans-serif;
}

header {
  background: var(--color3-darkBlue);
  color: var(--color4-white);
}

.websites,
.skills {
  background: var(--color2-lightGray);
}

.hobbies {
  background: var(--color3-darkBlue);
  color: var(--color4-white);
}

.all-projects {
  background: var(--color2-lightGray);
}

footer {
  background: var(--color5-orange);
}
